.about-container{
    height: 100%;
    min-height: 100vh;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 1rem;
    padding-left: 2%;

    .about-heading{
        font-size: 5rem;
        font-weight: 900;
        background: -webkit-linear-gradient(#1B4F72, #8ed2ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: showFade 1s ease-out;
    }

    .about-sub-heading{
        background: -webkit-linear-gradient(#1B4F72, #8ed2ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 900;
        font-size: 1.6rem;
    }

        
    .about-content{
        color: #424949;
        font-size: 1.2rem;

        b{
            color: #424949;
            font-size: 1.2rem;
        }
    }

    .companies-container{

        .about-companies-content{
            color: #424949;
            font-size: 1.2rem;

            b{
                color: #424949;
                font-size: 1.2rem;
            }
        }
    }
    

    .about-sub-heading,
    .about-content,
    .companies-container{
        transition: .3s ease-out;
        transform: translateY(0);
        opacity: 1;
    }

    .hide{
        transform: translateY(15px);
        opacity: 0;
    }
   
}

@keyframes showFade {
    0%{
        opacity: 0;
        transform: translateY(15px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@media(max-width:900px){
    .about-container{

        .about-heading{
            font-size: 3rem;
        }

        .about-content{
            font-size: 1rem;
            
            b{
                color: #424949;
                font-size: 1rem;
            }
        }

        .about-sub-heading{
            font-size: 1.2rem;
        }

        .companies-container{

            .about-companies-content{
                color: #424949;
                font-size: 1rem;
                
                b{
                    color: #424949;
                    font-size: 1rem;
                }
            }
        }
    }
}