.contact-container{
    height: 100%;
    min-height: 100vh;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 1rem;
    padding-left: 2%;

    .contact-heading{
        font-size: 3.5rem;
        font-weight: 900;
        background: -webkit-linear-gradient(#1B4F72, #8ed2ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: showFade 1s ease-out;
    }

    .contact-content{
        transition: .3s ease-out;
        transform: translateY(0);
        opacity: 1;
        color: #424949;
        font-size: 1.2rem;

        b{
            background: -webkit-linear-gradient(#1B4F72, #8ed2ff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 1.2rem;
        }
    }

    .form-container{
        transition: .3s ease-out;
        transform: translateY(0);
        opacity: 1;
        padding-top: 2%;

        .form{
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            width: 50%;

            .name, 
            .email, 
            .message{
                padding: 5px 10px;
                outline-color: #8ed2ff;
                color: #0077c7;
            }

            .btn-send{
                margin-top: 10px;
                padding: 10px 10px;
                display: block;
                outline-color: tomato;
                cursor: pointer;
                background: #0f0c29;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                color: white;
                border-style: none;
                border-radius: 5px;

                &:hover{
                    background: #0f0c29;  /* fallback for old browsers */
                    background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
                    background: linear-gradient(to left, #24243e, #302b63, #19144b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                }
            }

            .form-message{
                color: tomato;
                letter-spacing: 1px;
                font-size: 1rem;
            }
            
        }

        .contact-content{

            a{
                img{
                    width: 30px;
                    margin-top: 5px;

                    &:hover{
                        transform: scale(1.08);
                    }

                    &:nth-child(n){
                        margin-right: 8px;
                    }
                }
            }
        }
    }

    .hide{
        transform: translateY(15px);
        opacity: 0;
    }
}


@media(max-width:900px){
    .contact-container{

        .contact-heading{
            font-size: 2rem;
        }
    
        .contact-content{
            color: #424949;
            font-size: 1rem;
    
            b{
                color: #424949;
                font-size: 1.1rem;
            }
        }

        .form-container{
            padding-top: 2%;
    
            .form{
                display: flex;
                flex-direction: column;
                width: 100%;
                
                // .name, 
                // .email, 
                // .message{

                // }

                .btn-send{
                    padding: 10px 10px;
                }

                .form-message{
                    font-size: .8rem;
                }
            }
        }
    }
}